<div class='{{ columnSize }} columns'>
	{% if gender is defined %}
		<h4>{{ columnTitle | trans }}</h4>
		{% include '_pagination.twig' %}
	{% else %}
		{% set gender = columnTitle|lower %}

		<h4>{{ columnTitle | trans }} (<a href='{{ url('viewGenderPage', {Q: countryQ, gender: columnTitle|lower, pageNumber: 1}) }}'>more</a>)</h4>
	{% endif %}

	<ul>
  {% for name in topNames %}
    <li>{{ name.Q | Qlabel }} (<a href="{{ url('viewCountryName', {Qcountry: countryQ, Q: name.Q}) }}">{{name.number}}</a>)</li>
  {% endfor %}
  </ul>
  {% include '_pagination.twig' %}

</div>