{% extends "base.twig" %}
{% set titleComplement = " > " ~ country.label %}

{% block css %}
  .flag {
  margin:auto;
  max-height:4em;
  margin:1em;
  float:right;
}

.textIntro {
  margin-left:0.5em;
}

{% endblock %}
{% block body %}
  <div class='pure-g textIntro'>
    <div class='pure-u-3-5'>
      <h2><a href='{{ url('viewCountry', {Q: country.Q}) }} '>{{country.label}}</a></h2>
        {{ 'Most popular first names in %countryLabel% based on the number of persons having that name who are the subject of a wikipedia article.' | trans({'%countryLabel%': country.label}) }}
    </div>
    <div class='pure-u-2-5'>
      <img class='pure-img flag' src='{{ global.request.basepath }}/img/flags/{{country.Q}}.png'/>
    </div>
  </div>

  <div class="pure-g listNames">
    {% for name in topNames %}
      <div class="oneResult pure-u-md-1-5 pure-u-lg-1-6 pure-u-1">
        <a href="{{ url('viewCountryName', {Qcountry: country.Q, Q: name.Q}) }}" class='pure-button'>
        {{ name.label }} <br/><span class='sub-text-button'>{{name.nb }} {{'persons' | trans}}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
