{% extends 'layout.html.twig' %}

{% block content %}
	{% if lastBook %}
		<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<a href="epub/{{lastBook.filename}}" class="btn btn-primary btn-block" role="button" aria-disabled="true">
						<span style='font-size:2em'>Download Epub ({{lastBook.size}})</span>
						<br/>
						<span>{{lastBook.numberOfLessons}} lessons &mdash; built on {{lastBook.buildDate | date("Y-m-d")}}</span></a>
				</div>
		</div>
	{% else %}
		<p>No ebook available</p>
	{% endif %}
    <h1>Lessons available</h1>
    <table class='table'>
            <tr>
                <th>Filename</th>
                <th>Title</th>
                <th>Download</th>
                <th>Size</th>
            </tr>
    	{% for lesson in lessons %}
    		<tr>
                <td>{{ lesson.filename }}</td>
                <td>{{lesson.title }}</td>
                <td><a href='{{url("generate", {lessonCode: lesson.lessonSlug})}}'>Epub</a></td>
                <td>{{lesson.size}}</td>
            </li>
		{% endfor %}
    </table>
    <h1>Internal tools</h1>
    <ul>
    	<li><a href='{{url('generate')}}'>Generate</a></li>
			<li><a href='{{url('update-cache-lessons')}}'>Check github for new / updated lessons</a></li>
    </ul>
{% endblock %}
