{% extends "base.twig" %}
{% block titlePage %}{{ 'home' | trans | capitalize }}{% endblock %}



{% block css %}

{% set countryColor = '#aa3e50' %}
{% set nameColor = '#72CC84' %}

    .button-countries {
      border:2px dotted {{ countryColor }};
    }

    .button-names {
      border:2px dotted white;
    }
    .introName {
      border-bottom:2px dotted {{ nameColor }};
    }

    .introCountry {
      border-bottom:2px dotted {{ countryColor }};
    }


    .pure-form label {
        margin: 1em 0 0;
        font-weight: bold;
        font-size: 100%;
    }

    .pure-form input[type] {
        border: 2px solid #ddd;
        box-shadow: none;
        font-size: 100%;
        width: 100%;
        margin-bottom: 1em;
    }
{% endblock %}

{% block js %}
    $( document ).ready(function() {

      var result = $.qLabel.switchLanguage('{{ global.request.locale }}');
      result.done(function() {
        // $( "h2" ).append( " Finished! " );
        // We can do something when everything is loaded
      });
      var currentRequest = null;
      
      $( "#searchName" ).keyup(function(event) {
        var inputTerm = $("#searchName").val();
        var url = "";
        if (inputTerm.length > 1) {
          currentRequest = jQuery.ajax({
              dataType: 'json',
              data: 'term=' + inputTerm,
              url: "{{url("ajax-search-all")}}",
              beforeSend : function()    {           
                  if(currentRequest != null) {
                      currentRequest.abort();
                  }
              },
              success: function(data) {
                var resultList = '';
                $("#listNames").text("");

                var codesNameIdea = ["countries", "names"];

                for (var id in codesNameIdea) {
                  code = codesNameIdea[id];
                  for (i = 0; i < data[code].length; i++) {
                    var cssStyle = '';
                    var flag = '';
                    var customText = '';
                    var url = "";

                    if (code == "countries") {
//                      cssStyle = "background-image:url('img/flags/" + data[code][i]["Q"] + ".png'";
                      customText = data[code][i]["countPersons"] + " {{'persons'|trans}}; " + data[code][i]["countNames"] + " {{'names'|trans}}; ";
                      flag = "<img src='{{ url('index') }}img/flags/" + data[code][i]["Q"] + ".png'/>";
                    } else if (code == "names") {
                      customText = data[code][i]["countPersons"] + " {{'persons'|trans}}; " + data[code][i]["countCountries"] + " {{'countries'|trans}}; ";
                    }
                    resultList = resultList + "<div class='pure-u-1-5 oneResult'><a class='pure-button button-" + code + "' style=\"" + cssStyle + "\" ";
                    console.log(data[code][i]["url"]);
                    resultList = resultList + " href='" + data[code][i]["url"] + "'>" + flag + data[code][i]["label"];
                    resultList = resultList + "<br/><span class='sub-text-button'>" + customText + "</span></a></div>";
                  }
                }

                $("#listNames").html(resultList);
              },
              error:function(e){
                // Error
              }
          });
        } else {
          $("#listNames").html("");
      }
      });
    });
{% endblock %}

{% block body %}
<form class='pure-form'>
  <div class='row'>
    <div class="twelve columns">
      <p>{{'A database of given name based on'|trans}} <a href='http://www.wikidata.org'>wikidata</a></p>
    </div>
  </div>
  <div class='row'>
    <h2>&darr;{{'Search a' | trans}} <span class=''>{{'name' | trans }}</span>, <span class=''>{{'country'|trans}}</span>&darr;</h2>
    <div class='twelve columns'>
      <input id='searchName' type='text' style='width:100%' autocomplete="off"/>
    </div>
  </div>
  <div class='pure-g' id='listNames'>
    &nbsp;
  </div>
</form>
{% endblock %}
