{% extends "base.twig" %}
{% block css %}
<link rel="stylesheet" href="{{ global.request.basepath }}/css/treemap.css">
{% endblock %}

{% set titleComplement = " > " ~ name.label %}

{% block js %}
{% endblock %}

{% block body %}
    <div class='row'>
        <div class="twelve column">
            <h1>{{ name.label }}</h1>
        </div>
    </div>
    <div class='row'>
        <div class="twelve column">
            <h2>{{ 'Famous persons with this name' | trans }}{% include '_loader.twig' %}</h2>
            <table class='pure-table pure-table-striped dimmed'>
                    <thead>
                        <tr>
                            <th>{{ 'Name' | trans}}</th>
                            <th>{{ 'Number of wikipedia articles' | trans}}</th>
                            <th>{{ 'Description' | trans}}</th>
                        </tr>
                    </thead>
                    {% for person in top %}
                        <tr>
                            <td><a href='http://www.wikidata.org/wiki/{{person.Q}}'>{{ person.Q | Qlabel }}</a></td>
                            <td>{{ person.articles }}</td>
                            <td>{{ person.Q | Qdescription }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    <div class='pure-g'>
        <div class="pure-u-1">
            <h2>{{ 'By year' | trans }}</h2>
            <p>{{'Click on a bar to get details about the decade.' | trans}}
            {{svg | raw}}
        </div>
    </div>

    {% if decadePersons %}
        <h3 id="decadePersons">{{ "Persons born during the decade %decade%" | trans({'%decade%': years}) }}</h3>
            <table class='pure-table pure-table-striped dimmed'>
                    <thead>
                        <tr>
                            <th>{{ 'Name' | trans}}</th>
                            <th>{{ 'Number of wikipedia articles' | trans}}</th>
                            <th>{{ 'Description' | trans}}</th>
                            <th>{{ 'Birthdate' | trans}}</th>

                        </tr>
                    </thead>
                    {% for person in decadePersons %}
                        <tr>
                            <td><a href='http://www.wikidata.org/wiki/{{person.Q}}'>{{ person.Q | Qlabel }}</a></td>
                            <td>{{ person.articles }}</td>
                            <td>{{ person.Q | Qdescription }}</td>
                            <td>{{ person.birthDate }}</td>
                        </tr>
                    {% endfor %}
            </table>
    {% endif %}
    
    {% if treemap != "" %}
        <div class='pure'>
            <div class='twelve column'>
                <h3>Répartition</h3>
                {{ treemap | raw}}
            </div>
        </div>
    {% endif %}
{% endblock %}